
<!DOCTYPE html>
<html>
<head>
  <title>Stuff</title>
</head>
<body>
  <ul>
    <% books.forEach(function(book) { %>
        <li><%= book.name %> - <%= book.author %></li>
    <% }); %>
  </ul>

  <form action="/books" method="post">
    <input type="text" name="name"/>
    <input type="text" name="isbn"/>
    <input type="text" name="author"/>
    <input type="text" name="description">
    <input type="text" name="quantity"/>
    <input type="text" name="category"/>
    <input type="text" name="isAvailable">
    <button type="submit">Submit</button>
  </form>

  <form action="/books/#{books._id}" method="post" enctype='application/x-www-form-urlencoded'>
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Delete</button>
  </form>

  <p>
    <a href="books/#{book._id}/edit">Edit</a>
  </p>

  <p>
    <a href="books/#{book._id}">Show</a>
  </p>
</body>
</html>