
<!DOCTYPE html>
<html>
<head>
  <title>Stuff</title>
</head>
<body>
  

  <form action="/books" method="post">
    <input type="text" name="name"/>
    <input type="text" name="isbn"/>
    <input type="text" name="author"/>
    <input type="text" name="description">
    <input type="text" name="quantity"/>
    <input type="text" name="surchargeFee">
    <input type="text" name="category"/>
    <input type="text" name="isAvailable">
    <button type="submit">Submit</button>
  </form>

</body>
</html>