
<!DOCTYPE html>
<html>
<head>
  <title>Stuff</title>
</head>
<body>
  <p>Name: <%= book.name %></p>
  <p>Author:<%= book.author %></p>
  <p>ISBN: <%=book.isbn %></p>
  <p>Quantity: <%= book.quantity %></p>
  <p><a href="">Borrow a book</a></p> 
</body>
</html>